/* Bütün tarayıcı boşluklarını sıfırla */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* src/index.css */
body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #D3DAD9; /* Beyaz sızıntıları önler */
}

body, html, #root {
  width: 100%;
  height: 100%;
  background-color: #D3DAD9 !important; /* Arka planın beyaz kalmasını önler */
  overflow-x: hidden; /* Yatay kaydırmayı engeller */
}